{
  "scheduler": ["str",   "cos"],
  "eta_min"  : ["float", "0.0"],
  "epochs"   : ["int",   "150"],
  "warmup"   : ["int",   "0"],
  "gamma"    : ["float", "0.98"],
  "optim"    : ["str",   "SGD"],
  "LR"       : ["float", "0.05"],
  "decay"    : ["float", "0.00004"],
  "momentum" : ["float", "0.9"],
  "nesterov" : ["bool",  "0"],
  "criterion": ["str",   "Softmax"],
  "arch_LR"  : ["float", "0.001"],
  "arch_decay" : ["float", "0.001"]
}
