{
  "data_name" : ["str",   "PTB"],
  "data_path" : ["str",   "./data/data/penn"],
  "emsize"    : ["int",   850],
  "nhid"      : ["int",   850],
  "nhidlast"  : ["int",   850],
  "LR"        : ["float", 20],
  "clip"      : ["float", 0.25],
  "epochs"    : ["int",   3000],
 "train_batch": ["int",   64],
  "eval_batch": ["int",   10],
  "test_batch": ["int",    1],
  "bptt"      : ["int",   35],

  "dropout"   : ["float", 0.75],
  "dropouth"  : ["float", 0.25],
  "dropoutx"  : ["float", 0.75],
  "dropouti"  : ["float", 0.2],
  "dropoute"  : ["float", 0.1],

  "nonmono"   : ["int", 5],
  "alpha"     : ["float", 0],
  "beta"      : ["float", 1e-3],
  "wdecay"    : ["float", 8e-7],

  "max_seq_len_delta" : ["int", 20]
}
