{
  "type"      : ["str",   "cosine"],
  "batch_size": ["int",   64],
  "epochs"    : ["int",   600],
  "momentum"  : ["float", 0.9],
  "decay"     : ["float", 0.0003],
  "LR"        : ["float", 0.025],
  "LR_MIN"    : ["float", 0.0001],
  "auxiliary" : ["bool", 1],
  "auxiliary_weight" : ["float", 0.4],
  "grad_clip" : ["float", 5],
  "cutout"    : ["int", 16],
  "drop_path_prob" : ["float", 0.2]
}
