{
  "type"      : ["str",   "multistep"],
  "batch_size": ["int",   128],
  "epochs"    : ["int",   200],
  "momentum"  : ["float", 0.9],
  "decay"     : ["float", 0.0005],
  "LR"        : ["float", 0.01],
  "milestones": ["int",   [1 ,  60, 120, 160]],
  "gammas"    : ["float", [10, 0.2, 0.2, 0.2]]
}
