{
  "dataset"            : ["str"   , "imagenet"],
  "arch"               : ["str"   , "resnet"],
  "block_name"         : ["str"   , "BasicBlock"],
  "layers"             : ["int"   , ["2", "2", "2", "2"]],
  "deep_stem"          : ["bool"  , "0"],
  "class_num"          : ["int"   , "1000"],
  "search_mode"        : ["str"   , "shape"],
  "xchannels"          : ["int"   , ["3", "48", "64", "38", "25", "57", "102", "89", "102", "115", "128", "230", "230", "256", "153", "358", "358", "460"]],
  "xblocks"            : ["int"   , ["2", "2", "2", "2"]],
  "super_type"         : ["str"   , "infer-shape"],
  "estimated_FLOP"     : ["float" , "953.381522"],
  "zero_init_residual" : ["bool"  , "1"]
}
