{
  "dataset"            : ["str"   , "imagenet"],
  "arch"               : ["str"   , "resnet"],
  "block_name"         : ["str"   , "BasicBlock"],
  "layers"             : ["int"   , ["2", "2", "2", "2"]],
  "deep_stem"          : ["bool"  , "0"],
  "zero_init_residual" : ["bool"  , "1"],
  "class_num"          : ["int"   , "1000"],
  "search_mode"        : ["str"   , "shape"],
  "xchannels"          : ["int"   , ["3", "64", "25", "64", "38", "19", "128", "128", "38", "38", "256", "256", "256", "256", "512", "512", "512", "512"]],
  "xblocks"            : ["int"   , ["1", "1", "2", "2"]],
  "super_type"         : ["str"   , "infer-shape"],
  "estimated_FLOP"     : ["float" , "1120.44032"]
}