{
  "dataset"            : ["str"   , "imagenet"],
  "arch"               : ["str"   , "resnet"],
  "block_name"         : ["str"   , "Bottleneck"],
  "layers"             : ["int"   , ["3", "4", "6", "3"]],
  "deep_stem"          : ["bool"  , "0"],
  "zero_init_residual" : ["bool"  , "1"],
  "class_num"          : ["int"   , "1000"],
  "search_mode"        : ["str"   , "shape"],
  "xchannels"          : ["int"   , ["3", "64", "64", "64", "230", "25", "19", "128", "19", "38", "76", "128", "128", "512", "38", "38", "204", "38", "51", "256", "51", "51", "153", "256", "256", "1024", "256", "256", "1024", "256", "256", "921", "256", "256", "1024", "76", "76", "614", "102", "76", "307", "512", "512", "2048", "512", "512", "2048", "512", "512", "2048"]],
  "xblocks"            : ["int"   , ["1", "1", "2", "3"]],
  "super_type"         : ["str"   , "infer-shape"],
  "estimated_FLOP"     : ["float" , "1680.93696"]
}