{
  "dataset"            : ["str"   , "cifar"],
  "arch"               : ["str"   , "resnet"],
  "depth"              : ["int"   , "32"],
  "module"             : ["str"   , "ResNetBasicblock"],
  "super_type"         : ["str"   , "infer-shape"],
  "zero_init_residual" : ["bool"  , "0"],
  "class_num"          : ["int"   , "10"],
  "search_mode"        : ["str"   , "shape"],
  "xchannels"          : ["int"   , ["3", "16", "6", "4", "12", "4", "4", "16", "9", "9", "6", "14", "32", "32", "9", "19", "28", "9", "32", "19", "32", "9", "64", "64", "64", "64", "64", "64", "64", "32", "38", "32"]],
  "xblocks"            : ["int"   , ["5", "5", "5"]],
  "estimated_FLOP"     : ["float" , "34.945344"]
}