{
  "dataset"            : ["str"   , "cifar"],
  "arch"               : ["str"   , "resnet"],
  "depth"              : ["int"   , "20"],
  "module"             : ["str"   , "ResNetBasicblock"],
  "super_type"         : ["str"   , "infer-shape"],
  "zero_init_residual" : ["bool"  , "0"],
  "class_num"          : ["int"   , "10"],
  "search_mode"        : ["str"   , "shape"],
  "xchannels"          : ["int"   , ["3", "16", "6", "4", "4", "4", "4", "4", "32", "32", "12", "19", "32", "28", "64", "64", "64", "64", "64", "44"]],
  "xblocks"            : ["int"   , ["3", "3", "3"]],
  "estimated_FLOP"     : ["float" , "22.444472"]
}