{
  "dataset"            : ["str"   , "cifar"],
  "arch"               : ["str"   , "resnet"],
  "depth"              : ["int"   , "56"],
  "module"             : ["str"   , "ResNetBasicblock"],
  "super_type"         : ["str"   , "infer-shape"],
  "zero_init_residual" : ["bool"  , "0"],
  "class_num"          : ["int"   , "10"],
  "search_mode"        : ["str"   , "shape"],
  "xchannels"          : ["int"   , ["3", "16", "16", "16", "14", "11", "9", "16", "12", "16", "6", "16", "4", "8", "4", "14", "6", "4", "4", "4", "32", "32", "32", "32", "32", "32", "22", "28", "32", "32", "19", "9", "19", "16", "9", "25", "16", "9", "64", "64", "64", "64", "64", "64", "64", "64", "64", "51", "19", "19", "32", "19", "19", "32", "19", "25"]],
  "xblocks"            : ["int"   , ["5", "5", "5"]],
  "estimated_FLOP"     : ["float" , "57.93305"]
}