{
  "dataset"            : ["str"   , "cifar"],
  "arch"               : ["str"   , "resnet"],
  "depth"              : ["int"   , "32"],
  "module"             : ["str"   , "ResNetBasicblock"],
  "super_type"         : ["str"   , "infer-shape"],
  "zero_init_residual" : ["bool"  , "0"],
  "class_num"          : ["int"   , "100"],
  "xchannels"          : ["int"   , ["3", "16", "4", "4", "6", "11", "6", "4", "8", "4", "4", "4", "32", "32", "9", "28", "28", "28", "28", "28", "32", "32", "64", "64", "64", "64", "64", "64", "64", "64", "64", "64"]],
  "xblocks"            : ["int"   , ["5", "5", "5"]],
  "estimated_FLOP"     : ["float" , "42.47"]
}
