{
  "dataset"            : ["str"   , "imagenet"],
  "arch"               : ["str"   , "resnet"],
  "block_name"         : ["str"   , "Bottleneck"],
  "layers"             : ["int"   , ["3", "4", "6", "3"]],
  "deep_stem"          : ["bool"  , "0"],
  "zero_init_residual" : ["bool"  , "1"],
  "class_num"          : ["int"   , "1000"],
  "search_mode"        : ["str"   , "shape"],
  "xchannels"          : ["int"   , ["3", "45", "45", "30", "102", "33", "60", "154", "68", "70", "180", "38", "38", "307", "38", "38", "410", "64", "128", "358", "38", "51", "256", "76", "76", "512", "76", "76", "512", "179", "256", "614", "100", "102", "307", "179", "230", "614", "204", "102", "307", "153", "153", "1228", "512", "512", "1434", "512", "512", "1844"]],
  "xblocks"            : ["int"   , ["3", "4", "5", "3"]],
  "super_type"         : ["str"   , "infer-shape"],
  "estimated_FLOP"     : ["float" , "2291.316289"]
}
