{
  "scheduler": ["str",   "linear"],
  "LR_min"   : ["float", "0.0"],
  "epochs"   : ["int",   "240"],
  "warmup"   : ["int",   "0"],
  "optim"    : ["str",   "SGD"],
  "LR"       : ["float", "0.5"],
  "decay"    : ["float", "0.00004"],
  "momentum" : ["float", "0.9"],
  "nesterov" : ["bool",  "1"],
  "criterion": ["str",   "SmoothSoftmax"],
  "label_smooth": ["float", 0.1],
  "auxiliary": ["float", "-1"]
}
