{
  "scheduler": ["str",   "multistep"],
  "epochs"   : ["int",   "120"],
  "warmup"   : ["int",   "5"],
  "optim"    : ["str",   "SGD"],
  "LR"       : ["float", "0.1"],
  "milestones":["int",   [30, 60, 90]],
  "gammas"   : ["float", [0.1, 0.1, 0.1]],
  "decay"    : ["float", "0.0001"],
  "momentum" : ["float", "0.9"],
  "nesterov" : ["bool",  "1"],
  "criterion": ["str",   "Softmax"],
  "auxiliary": ["float", "-1"]
}
