{
  "scheduler": ["str",   "cos"],
  "eta_min"  : ["float", "0.0"],
  "epochs"   : ["int",   "245"],
  "warmup"   : ["int",   "5"],
  "optim"    : ["str",   "SGD"],
  "LR"       : ["float", "0.1"],
  "decay"    : ["float", "0.00003"],
  "momentum" : ["float", "0.9"],
  "nesterov" : ["bool",  "1"],
  "criterion": ["str",   "SmoothSoftmax"],
  "label_smooth": ["float", 0.1],
  "auxiliary"   : ["float", "0.4"]
}
