{
  "dataset"            : ["str"   , "cifar"],
  "arch"               : ["str"   , "resnet"],
  "depth"              : ["int"   , "32"],
  "module"             : ["str"   , "ResNetBasicblock"],
  "super_type"         : ["str"   , "infer-width"],
  "zero_init_residual" : ["bool"  , "0"],
  "class_num"          : ["int"   , "100"],
  "xchannels"          : ["int"   , ["3", "12", "12", "12", "12", "12", "12", "12", "12", "12", "12", "12", "25", "25", "25", "25", "25", "25", "25", "25", "25", "25", "50", "50", "50", "50", "50", "50", "50", "50", "50", "50"]],
  "estimated_FLOP"     : ["float" , "41.095816"]
}
