{
  "dataset"         : ["str",  "imagenet"],
  "arch"            : ["str",  "resnet"],
  "block_name"      : ["str",  "BasicBlock"],
  "layers"          : ["int",  [3,4,6,3]],
  "deep_stem"       : ["bool", 1],
  "zero_init_residual" : ["bool",  "1"],
  "groups"          : ["int",  1],
  "width_per_group" : ["int", 64],
  "norm_layer"      : ["none", "None"]

}
