{
  "type"      : ["str",   "steplr"],
  "batch_size": ["int",   256],
  "epochs"    : ["int",   250],
  "decay_period": ["int",   1],
  "gamma"     : ["float", 0.97],
  "momentum"  : ["float", 0.9],
  "decay"     : ["float", 0.00003],
  "LR"        : ["float", 0.1],
  "label_smooth": ["float", 0.1],
  "auxiliary" : ["bool", 1],
  "auxiliary_weight" : ["float", 0.4],
  "grad_clip" : ["float", 5],
  "drop_path_prob" : ["float", 0]
}
